
/* Article styles */

.article {
  margin-bottom: 10rem;
}

.article__title {
  display: block;
  font-family: 'National', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.article__title a {
  color: var(--pink);
  text-decoration: none;
}

.article__title:hover {
  text-decoration: underline;
}

.article__meta {
  color: var(--grey-light);
  font-family: 'National', sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  margin-bottom: 4rem;
  text-align: center;
  text-transform: uppercase;
}

.article__content {
  color: var(--grey);
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.article__content p {
  margin-bottom: 1.5rem;
}

.article__content i, .article__content em {
  font-style: italic;
}

.article__content a {
  color: var(--pink);
  text-decoration: none;
}

.article__content a:hover {
  color: var(--pink);
  text-decoration: underline;
}

.article__content ol, .article__content ul {
  margin-left: 4rem;
  margin-bottom: 3rem;
}

.article__content li {
  list-style-type: disc;
  margin-bottom: 1.5rem;
}

.article__tags {
  text-align: center;
}

.article__tag {
  background-color: var(--white);
  border: 1px solid var(--pink);
  border-radius: 0.3rem;
  color: var(--pink);
  display: inline-block;
  font-family: 'National', sans-serif;
  font-size: 1.4rem;
  margin-right: 1rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem 0.8rem;
  text-decoration: none;
}

.article__tag:hover {
  background-color: var(--pink);
  border: 1px solid var(--pink);
  color: var(--white);
}

.pagination {
  color: var(--grey-light);
  font-family: 'National', sans-serif;
  font-size: 3rem;
  margin-bottom: 12rem;
  text-align: center;
}

.pagination__newer {
  color: var(--pink);
  font-weight: bold;
  margin-right: 2rem;
  text-decoration: none;
}

.pagination__older {
  color: var(--pink);
  font-weight: bold;
  margin-left: 2rem;
  text-decoration: none;
}

.pagination a:hover {
  color: var(--pink);
  text-decoration: underline;
}



































