
/* Article styles */

.article {
  margin-bottom: 10rem;
}

.article__title {
  color: var(--pink);
  display: block;
  font-family: var(--fontSansFallback);
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.article__title a {
  color: var(--pink);
  text-decoration: none;
}

.article__title a:visited {
  color: var(--pink);
}

.article__title a:hover {
  text-decoration: underline;
}

.article__meta {
  color: var(--grey-light);
  font-family: var(--fontSansFallback);
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  margin-bottom: 4rem;
  text-align: center;
  text-transform: uppercase;
}

.article__content {
  font-weight: normal;
  color: var(--grey);
  font-size: 1.6rem;
  line-height: 2.7rem;
}

.article__content img {
  max-width: 100%;
  margin-bottom: 2rem;
}

.article__content p {
  margin-bottom: 1.5rem;
  font-weight: normal;
  font-style: normal;
}

.article__content i, .article__content em {
  font-style: italic;
}

.article__content a {
  color: var(--pink);
  text-decoration: none;
}

.article__content a:hover {
  color: var(--pink);
  text-decoration: underline;
}

.article__content ol, .article__content ul {
  margin-left: 4rem;
  margin-bottom: 3rem;
}

.article__content li {
  list-style-type: disc;
  margin-bottom: 0.2em;
}

.article__tags {
  text-align: center;
}

.article__content blockquote {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border-left: 4px solid #ddd;
}

.article__content blockquote p {
  color: #777;
  text-align: left;
  padding-left: 2rem;
  line-height: 2.5rem;
  padding-bottom: 0.5rem;
}

.article__tag {
  background-color: var(--white);
  border: 1px solid var(--pink);
  border-radius: 0.3rem;
  color: var(--pink);
  display: inline-block;
  font-family: var(--fontSansFallback);
  font-size: 1.4rem;
  margin-right: 1rem;
  margin-top: 1rem;
  padding: 0.5rem 1rem 0.8rem;
  text-decoration: none;
}

.article__tag:hover {
  background-color: var(--pink);
  border: 1px solid var(--pink);
  color: var(--white);
}

.pagination {
  color: var(--grey-light);
  font-family: var(--fontSansFallback);
  font-size: 3rem;
  margin-bottom: 12rem;
  text-align: center;
}

.pagination__newer {
  color: var(--pink);
  font-weight: bold;
  margin-right: 2rem;
  text-decoration: none;
}

.pagination__older {
  color: var(--pink);
  font-weight: bold;
  margin-left: 1rem;
  text-decoration: none;
}

.pagination a:hover {
  color: var(--pink);
  text-decoration: underline;
}

.fonts-loaded .article__title,
.fonts-loaded .article__meta,
.fonts-loaded .article__tag,
.fonts-loaded .pagination {
  font-family: var(--fontSans);
}
