
/* Topics sidebar */

.sidebar {
  position: fixed;
  top: 0;
  right: -25rem;
  width: 25rem;
  height: 100%;
  padding-top: 2rem;
  overflow-y: auto;
  transition: all .2s ease-in-out;
  background-color: #F9F9F9;
  box-shadow: -15px 0px 0px 0px rgba(255,255,255,0.5);
}

.sidebar-topic {
  display: block;
  margin-bottom: 1rem;
  text-align: center;
}
.sidebar a {
  font-family: 'Anonymous Pro', serif;
  font-size: 1.4rem;
  color: var(--grey);
  text-decoration: none;
}
.sidebar a:hover {
  color: var(--pink);
  text-decoration: underline;
}

.close-sidebar {
  margin-bottom: 6rem;
  display: block;
  text-align: center;
}

#sidebar:target {
  right: 0;
}

.topic-count {
  color: var(--green);
}

.topic-count i {
  color: var(--blue);
}
