
/* Topics sidebar */

.sidebar {
  background-color: #EEEEEE;
  box-shadow: -15px 0px 0px 0px rgba(255,255,255,0.5);
  height: 100%;
  overflow-y: auto;
  position: fixed;
  padding-top: 3rem;
  right: -25rem;
  top: 0;
  transition: all .2s cubic-bezier(.83,.06,.09,.91);
  width: 25rem;
}

.sidebar-topic {
  display: block;
  margin-bottom: 1.5rem;
  text-align: center;
}
.sidebar a {
  color: var(--grey);
  font-family: 'Anonymous', 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-size: 1.4rem;
  text-decoration: none;
}
.sidebar a:hover {
  color: var(--pink);
  text-decoration: underline;
}

.close-sidebar {
  display: block;
  margin-bottom: 5rem;
  text-align: center;
}

#sidebar:target {
  right: 0;
}

.topic-count {
  color: var(--green);
  font-size: 1.4rem;
  font-family: 'Anonymous', 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}

.topic-count i {
  color: var(--blue);
}
