
@media only screen and (max-width : 760px) {
  .header {
    font-size: 1.3rem;
    padding-top: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 2rem;

  }
  .header__logo {
    background-size: 3rem 3rem;
    height: 3rem;
    margin-top: -0.8rem;
    margin-right: 1.5rem;
    width: 3rem;
  }

  .sidebar {
    padding-top: 2rem;
  }

  .close-sidebar {
    margin-bottom: 4rem;
  }

  .container {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
  }

  .topic-tag {
    margin: 5rem auto 0rem;
    position: static;
  }

  .article__title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .article__meta {
    font-size: 1.3rem;
    margin-bottom: 2.5rem;
  }

  .article__content {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  .article__content p {
    margin-bottom: 1rem;
  }

  .article__content ol, .article__content ul {
    margin-left: 2rem;
    margin-bottom: 2rem;
  }

  .article__content li {
    margin-bottom: 1rem;
  }

  .hljs, code {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }

}
