
/* Header styles */

.header {
  font-size: 1.4rem;
  font-family: var(--fontMonoFallback);
  margin-bottom: 3rem;
  padding: 3rem;
}

.header a {
  color: var(--grey);
  text-decoration: none;
}

.header__logo {
  background-image: url(icelab-logo.png);
  background-size: 3.4rem 3.4rem;
  float: left;
  height: 3.4rem;
  margin-top: -1rem;
  margin-right: 2rem;
  transition: all 200ms ease-in-out;
  transform: scale(1);
  width: 3.4rem;
}

.header__logo:hover {
  transition: all 200ms ease-in-out;
  transform: scale(.95);
  text-decoration: none;
}

.header__til-text {
  float: left;
}
.header__til-text:hover {
  color: var(--pink);
  text-decoration: underline;
}

.header__view-topics {
  float: right;
  outline: none;
}
.header__view-topics:hover {
  color: var(--pink);
  text-decoration: underline;
}

.topic-tag {
  color:  var(--grey);
  float: left;
}

.topic-tag a {
  color: var(--pink);
}

.topic-tag a:hover {
  text-decoration: underline;
}


.fonts-loaded .header {
  font-family: var(--fontMono);
}
