
include partials/head

  body
    include partials/logo
    include partials/sidebar

    != contents

    ul.til-list
      each latest_post in collections.latest
        li.til-list__item

          a.til-list__item-title(href="/" + latest_post.path)= latest_post.title

          .til-list__item-meta
            = latest_post.author
            = latest_post.date
            = latest_post.collection

          .til-list__item-content
            = latest_post.contents
