:root {
  --white: #ffffff;
  --pink: #E46B7A;
  --grey: #4A4A4A;
  --grey-light: #9B9B9B;
  --green: #70AD6A;
  --blue: #2A5FB2;
}

@import './reset';
@import 'highlight.js/styles/solarized-light.css';
@import 'fonts/freight-text-pro.css';
@import './header';
@import './sidebar';
@import './articles';
@import './responsive';

html {
  font-size: 62.5%;
}

body {
  background-color: var(--white);

  font-family: 'FreightTextPro';
  font-size: 1.6rem;
  font-smoothing: antialiased;
}

.container {
  max-width: 68rem;
  margin-left: auto;
  margin-right: auto;
}
