:root {
  --white: #ffffff;
  --pink: #e46b7a;
  --grey: #454545;
  --grey-light: #8c8c8c;
  --green: #70ad6a;
  --blue: #2a5fb2;
  --fontMono: 'Inconsolata', 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  --fontMonoFallback: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  --fontSans: 'National', Helvetica, sans-serif;
  --fontSansFallback: Helvetica, sans-serif;
  --fontSerif: 'TiemposText', Georgia, serif;
  --fontSerifFallback: Georgia, serif;
}

@import './reset';
@import './fonts/tiempos-text/tiempos-text.css';
@import './fonts/national/national.css';
@import './header';
@import './footer';
@import './sidebar';
@import './articles';
@import './code-highlight';

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--white);
  font-family: var(--fontSerifFallback);
  font-size: 1.6rem;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 60rem;
}

.fonts-loaded body {
  font-family: var(--fontSerif);
}

@import './responsive';
